@import "_variables";

@mixin btn($bg, $color, $py, $px) {
  background: $bg;
  color: $color;
  border: none;
  padding: $py $px;
  border-radius: 0.4rem;
  font-weight: bolder;
  font-size: 1rem;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: $color-100;
  font-family: $font-family-roboto;
  color: $color-800;
}

.content-wrapper {
  padding: 3rem 1rem;
}

.main {
  position: relative;
}

.home {
  width: 90vw;
  margin: 0 auto;

  .page-title {
    margin: 0.4rem 0;
    font-size: 3rem;
  }

  .sub-title {
    font-size: 1.3rem;
  }

  .list-wrapper {
    margin-top: 2rem;
  }
}

.card {
  position: relative;
  background-color: #ffffff;
  margin: 1rem 0;
  border-radius: 5px;
  width: 100%;
  cursor: pointer;
  box-shadow: 0 1px 4px 1px rgba(50, 50, 50, 0.178);

  .delete-btn {
    position: absolute;
    right: 0;
    top: 0;
    padding: 0 5px 5px 5px;

    .fa {
      &.fa-times-thin:before {
        content: "\00d7";
        color: $color-800;
        font-weight: bold;
      }
    }

    &:hover {
      cursor: pointer;
    }

    &:hover .fa-times-thin:before {
      color: #dc3545;
    }
  }

  &:hover {
    box-shadow: 0 1px 4px 3px rgba(50, 50, 50, 0.178);
  }
}

.card-body {
  display: flex;
  padding: 0.7rem 0.5rem;
  text-decoration: none;
  color: $color-800;

  img {
    height: 2.5rem;
  }

  .user-details {
    padding: 0 1rem;

    .user-name {
      font-size: 1rem;
      margin: 0;
    }

    .widget {
      font-size: 2.2vw;
      padding-right: 10px;

      i.fa {
        padding-right: .50rem;
      }
    }
  }
}

.img-fluid {
  width: 5rem;
}

.empty-view {
  text-align: center;

  img {
    width: 5rem;
  }

  p {
    font-size: 1.3rem;
    text-align: center;
    margin: 2.5rem 0 3rem 0;
  }

  button {
    @include btn($color-800, #FFFFFF, 1rem, 2rem);
  }

}

.loader {
  text-align: center;
  margin-top: 3rem;

  .fa {
    color: $color-800;
    font-size: 3rem;
  }
}

.profile {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  .back-btn {
    color: $color-800;
    margin: 1rem 0 2rem 1rem;
    font-size: 1.5rem;
    cursor: pointer;

    i.fa {
      padding-right: 1rem;
    }
  }
}

.profile-content {
  display: flex;
  flex-direction: column !important;
  padding-top: 2rem;

  .left-col {
    width: 100%;
    padding: 0;
    text-align: center;

    img {
      width: 12rem;
      font-weight: normal;
    }

    p {
      font-weight: 800;
      font-size: 1.6rem;
      margin: 0.5rem 0 1rem 0;
    }
  }

  .right-col {
    width: 100%;

    h1 {
      margin: 0;
      font-size: 3.5rem;
      font-weight: bold;
      display: none;
    }

    .user-info {
      display: flex;
      justify-content: center;
    }

    .fa-ul {
      margin-bottom: 3rem;

      li {
        font-size: 1.2rem;
        margin: 0.8rem 0;
      }
    }

    .action-bar {
      padding-left: 10vw;

      .del-btn {
        @include btn(#dc3545, #ffffff, 0.7rem, 2rem);
      }
    }
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .home {
    width: 86%;
  }
  .card {
    .card-body {
      padding: 1.1rem;

      img {
        height: 4rem;
      }
    }

    .user-details {
      padding: 0 1.2rem;

      .user-name {
        font-size: 1.6rem;
      }
    }

    .widget {
      font-size: 0.7rem !important;
    }
  }
  .img-fluid {
    width: 10rem !important;
  }

  .profile-content {
    .left-col {
      img {
        width: 15rem;
        font-weight: normal;
      }

      p {
        font-weight: 800;
        font-size: 2.2rem !important;
      }
    }

    .right-col {
      padding: 1rem;

      .fa-ul {
        li {
          font-size: 1.4rem;
        }
      }

      .action-bar {
        padding-left: 0;
      }
    }
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .home {
    width: 70%;
  }
  .card {
    .card-body {
      padding: 1.3rem;

      img {
        height: 4.5rem;
      }
    }

    .user-details {
      padding: 0 1.4rem;

      .user-name {
        font-size: 1.8rem;
      }
    }

    .widget {
      font-size: 0.8rem !important;
    }
  }


  .profile-content {
    flex-direction: row !important;

    .left-col {
      padding: 1rem;
      width: 30% !important;

      p {
        margin-top: 1rem;
        font-size: 1.5rem !important;
        font-weight: normal;
      }
    }

    .right-col {
      width: 60% !important;

      h1 {
        display: block !important;
        font-size: 2.5rem;
      }

      .user-info {
        justify-content: flex-start;
      }
    }
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .home {
    width: 55%;
  }
  .card {
    .card-body {
      padding: 0.8rem;

      img {
        height: 4rem;
      }
    }

    .widget {
      font-size: 1rem;
    }
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .home {
    width: 45%;
  }
  .card {
    .card-body {
      padding: 1rem;
    }

    .widget {
      font-size: 1.3rem;
    }
  }
}