@import "_variables";
@import "_mixins.scss";

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: $color-100;
  font-family: $font-family-roboto;
  font-size: $font-size-base;
  line-height: $line-height-base;
  color: $color-800;
}

.content-wrapper {
  padding: 3rem 1rem;
}

.main {
  position: relative;
}

.loader {
  text-align: center;
  margin-top: 3rem;

  .fa {
    color: $color-800;
    font-size: 3rem;
  }
}