* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/* -------------- room.ejs -------------- */

h1 {
    text-align: center;
    margin-top: 30px;
    font-size: 30px;
    display: flex;
    flex-direction: column;
}

input {
    width: 100%;
    height: 40px;
    text-indent: 10px;
}

button {
    width: 100%;
    height: 50px;
    background-color: #1a2eda;
    color: white;
    font-size: larger;
    font-weight: bold;
    outline: none;
    cursor: pointer;
    border: none;
}

.fields {
    width: 100%;
}

.window {
    margin: auto;
    margin-top: 20px;
    width: 75%;
    height: 75vh;
    border: 2px solid #c2c6b6;
    display: flex;
    flex-direction: column;
    align-content: space-between;
}

.chat-message {
    display: block;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #33fff9;
}

#output, #feedback {
    margin-left: 10px;
}


.users {
    margin-left: 40px;
    margin-top: 50px;
}

.users p {
    background-color: rgb(110, 103, 103);
    color: white;
}

 /* Chat containers */
.container {
  border: 1px solid #dedede;
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
}

/* Darker chat container */
.darker {
  border-color: #ccc;
  background-color: #ddd;
}

/* Clear floats */
.container::after {
  content: "";
  clear: both;
  display: table;
}

/* Style images */
.container img {
  float: left;
  max-width: 60px;
  width: 100%;
  margin-right: 20px;
  border-radius: 50%;
}

/* Style the right image */
.container img.right {
  float: right;
  margin-left: 20px;
  margin-right:0;
}

/* Style time text */
.time-right {
  float: right;
  color: #aaa;
}

/* Style time text */
.time-left {
  float: left;
  color: #999;
} 

.roomlist {
  position: absolute;
  top: 8px;
  right: 16px;
  font-size: 18px;
}

/* -------------- index.ejs -------------- */

.content {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content p {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 40px;
}

.content input {
    margin-bottom: 20px;
    height: 50px;
    border: 1px solid black;
    border-radius: 7px;
}

.content input[type="submit"] {
    cursor: pointer;
}

::placeholder {
    font-weight: 700;
}

.content div {
    border: 2px solid black;
    padding: 40px;
    border-radius:10px;
    background-color: #33fff9;
}

.roomlist {
  position: absolute;
  top: 8px;
  right: 16px;
  font-size: 18px;
}

body {
  background-color: #33ffac;
}
