.profile__page{
    width: 100%;
    @include padding(1rem ,  0.8rem, 1rem ,  0.8rem);
}
.back__view{
    @include display(row, flex-start);
    @include padding(0 ,  0, 0 , 0);
    @include margin(0 ,  0, 0 , 0);
    .back__view__link{
        color: $color-700;
        font-size: 1.1rem;
        text-decoration: none;
        @include display(row, flex-start);
        .back__view__link--text{
            @include margin(0 ,  0, 0 , 1rem);
        }
    }
}
.profile__view{
    .profile__view__content--left{
        @include margin(2rem ,  0, 0 , 0);
        text-align: center;
        padding: 0;
        .profile__view__content__avatar{
            width: 12rem;
            margin: auto;
        }
        .profile__view__content__name{
            font-size: 1.8rem;
            font-weight: bold;
            @include margin(0.5rem ,  0 , 0.8rem , 0);
        }
    }
    .profile__view__content--right{
        @include display(column, flex-start);
        @include margin(0.2rem ,  0 , 0.8rem , 0);
        .profile__view__user__name{
            font-size: 1.8rem;
            font-weight: bold;
            display: none;
        }
        .user__profile__info{
            list-style-type: none;
            text-align: left;
            @include padding(0.1rem ,  0.5rem , 0.5rem , 0.5rem);
        }
        .user__profile__info--block{
            font-size: 1.2rem;
            @include display(row, flex-start);
            @include padding(0.8rem ,  0.1rem , 0.1rem , 0.1rem);
            .user__profile__info--block--icon{
                align-self: center;
                margin-right: 0.5rem;
                height: 100%;
            }
            .user__profile__info--block--btn{
                @include btn($red-color, #FFFFFF, bolder , 0.8rem, 2rem);
            }
        }
    }
}


// Responsive

// Small devices 
@media (min-width: 576px) {
    .profile__view {
        .profile__view__content--left {
          .profile__view__content__avatar {
            width: 15rem;
            font-weight: normal;
          }
    
          .profile__view__content__name{
            font-weight: 800;
            font-size: 2.2rem !important;
          }
        }
    
        .profile__view__content--right{
            @include margin(0.1rem ,  8rem , 0.5rem , 8rem);
          font-size: 1.4rem;
    
        }
      }
}

// Medium devices 
@media (min-width: 768px) {
    .back__view{
        display: none;
    }
    .profile__view {
        @include padding(5rem ,  8rem , 5rem , 8rem);
        @include display(row, flex-start);
        .profile__view__content--left{
            .profile__view__content__name{
                font-weight: 300;
                font-size: 1.2rem;
            }
        }
        .profile__view__content--right{
            @include display(column, flex-start);
            @include margin(0.2rem ,  0 , 0.8rem , 5rem);
            .profile__view__user__name{
                font-size: 2.2rem;
                font-weight: bold;
                display: block;
                @include margin(0 ,  0 , 0.2rem , 0);
            }
    }
}
}
