
.single-product {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    align-content: center;
    display: flex;
    flex-flow: column;
    margin: 15px;
}

.review-card {
    
    margin: 10px;
  }

.form-class {
    min-width: 150px;
    max-width : 400px;
    width: 100%;
}

.form-class-full-width {
    width: 100%;
}