.user__profile {
    width: 100%;
    @include display(row,space-between);
    position: relative;
    background-color: #ffffff;
    @include margin(0.5rem,0,1rem,0);
    border-radius: 5px;
    box-shadow: 0 1px 2px 1px rgba(50,50,50,0.2);
    .user__profile__body {
        @include display(row,space-around);
        @include padding(0.8rem,0.1rem,0.5rem,0.5em);
        text-decoration: none;
        color: $color-800;
        .user__profile__info {
            @include display(column,space-around);
            .user__profile__info--row {
                @include display(row,flex-start);
            }
            .user__profile__info--block {
                @include margin(0.3rem,0,0,0);
                @include padding(0,0,0,0.5rem);
                font-size: 0.5rem;
            }
        }
        .user__profile__info--name {
            font-size: 0.8rem;
            @include padding(0,0,0,0.5rem);
            @include margin(0,0,0,0);
        }
        .user__profile__body--avatar {
            height: 2.5rem;
        }
    }
    .user__profile__info--close {
        @include padding(0.4rem,0.4rem,0.2rem,0.1rem);
        &:hover {
            color: $red-color;
            cursor: pointer;
        }
    }
}


// Responsive

@media (min-width:576px) {
    .user__profile {
        .card-user__profile__body {
            @include padding(1.2rem,1rem,1.2rem,1.2rem);
            .user__profile__body--avatar {
                height: 4rem;
            }
        }
        .user__profile__info {
            @include padding(0,1.2rem,0,1.2rem);
            .user__profile__info--block {
                font-size: 0.6rem;
            }
            .user__profile__info--name {
                font-size: 1.1rem;
            }
        }
	}
}
@media (min-width:600px) {
    .user__profile {
        .user__profile__body {
            @include padding(1rem,0.2rem,1rem,1rem);
            .user__profile__info {
                @include display(column,space-around);
                .user__profile__info--row {
                    @include display(row,flex-start);
                }
                .user__profile__info--block {
                    font-size: 0.8rem;
                }
            }
            .user__profile__info--name {
                font-size: 1.2rem;
            }
            .user__profile__body--avatar {
                height: 4rem;
            }
        }
    }
}
// Medium devices ( > 768px )
@media (min-width:768px) {
    .user__profile {
        .card-user__profile__body {
			padding: 1.3rem;
			
			.user__profile__info--block {
				font-size: 0.9rem;
			}
            .user__profile__info--name {
                font-size: 1.3rem;
            }
            .user__profile__body--avatar {
                height: 4.8rem;
            }
        }
    }
}

@media (min-width:850px) {
    .user__profile {
        .card-user__profile__body {
            @include padding(1.2rem,0.5rem,1.2rem,1.5rem);
            .user__profile__info--block {
                font-size: 1rem;
            }
            .user__profile__info--name {
                font-size: 1.5rem;
            }
        }
    }
}
// Large devices ( > 992px )
@media (min-width:992px) {
    .user__profile {
        .card-user__profile__body {
            @include padding(1.2rem,0.8rem,1.2rem,2rem);
            .user__profile__info--block {
                font-size: 1rem;
            }
            .user__profile__info--name {
                font-size: 1.6rem;
            }
            .user__profile__body--avatar {
                height: 5rem;
            }
        }
	}
}
	
// Extra Large devices ( > 1200px )
@media (min-width:1200px) {
    .user__profile {
        .card-user__profile__body {
            padding: 1rem;
            .user__profile__info--block {
                font-size: 1.2rem;
            }
            .user__profile__info--name {
                font-size: 1.8rem;
            }
			.user__profile__body--avatar {
				height: 6rem;
			}
        }
	}
}