.horizontal_scroll {
  overflow-x: auto;
  white-space: nowrap;

  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.horizontal_scroll::-webkit-scrollbar {
  display: none;
}
