@mixin padding($pt , $pr , $pb , $pl ) {
    padding: $pt  $pr  $pb  $pl;
}

@mixin margin($mt , $mr , $mb , $ml) {
    margin: $mt  $mr  $mb  $ml;
}

@mixin  display ($direction , $content) {
    display: flex;
    flex-direction: $direction;
    justify-content: $content;
}
@mixin btn($bg, $color, $fw, $py, $px) {
  background: $bg;
  color: $color;
  padding: $py $px;
  border-radius: 0.4rem;
  font-weight: $fw;
  font-size: 1rem;
  border: none;
}

@mixin keyframes($animation-name) {
    @-webkit-keyframes #{$animation-name} {
      @content;
    }
    @-moz-keyframes #{$animation-name} {
      @content;
    }  
    @-ms-keyframes #{$animation-name} {
      @content;
    }
    @-o-keyframes #{$animation-name} {
      @content;
    }  
    @keyframes #{$animation-name} {
      @content;
    }
  }
  
  @mixin animation($name , $time , $style , $infinity) {
    -webkit-animation: $name $time $style $infinity;
    -moz-animation: $name $time $style $infinity;
    -ms-animation: $name $time $style $infinity;
    -o-animation:$name $time $style $infinity;
    animation: $name $time $style $infinity;      
  }
  
  