/*
 * display type
 */
.is-block {
    display: block;
}


/*
 * padding helpers
 */


//padding left

.pl-10 {
    padding-left: 10px;
}

.pl-35 {
    padding-left: 35px;
}

//padding right

.pr-5 {
    padding-right: 5px;
}

.pr-10 {
    padding-right: 10px;
}

//padding bottom

.pb-5 {
    padding-bottom: 5px;
}

.pb-8 {
    padding-bottom: 8px;
}

.pb-20 {
    padding-bottom: 20px;
}