/*
 * color variables
 */

$--color-100: #dcfdfb;
$--color-200: #b8f3ee;
$--color-300: #93e9e1;
$--color-400: #6aded5;
$--color-500: #43d5c9;
$--color-600: #2abcb0;
$--color-700: #1b9289;
$--color-800: #0b6962;
$--color-900: #00403c;
$--color-1000: #001816;

$--color-000: #ffffff;
$--color-050: #f8ffff;
$--color-150: #dddddd;
$--color-250: #d21f3c;